/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1700px) {
	body {
		font-size: 15px;
	}
	.menu {
		flex: 0.8;
	}
	.header {
		font-size: 13px;
	}
	.logo img {
		width: 160px;
	}
	.phone-main {
		font-size: 15px;
	}
	.wrapper {
		padding-top: 83px;
	}
	.title-big {
		font-size: 50px;
		line-height: 60px;
	}
	.billbord .title-big {
		padding-bottom: 30px;
	}
	.descr-big {
		font-size: 19px;
		line-height: 31px;
	}
	.billbord .descr-big {
		max-width: 544px;
	}
	.billbord {
		padding-top: 155px;
		padding-bottom: 40px;
		min-height: 700px;
	}
	.billbord__bottom {
		margin-top: 130px;
	}
	.item-billbord {
		font-size: 22px;
		line-height: 28px;
		height: 165px;
		padding: 0 40px;
	}
	.item-billbord::after {
		bottom: 20px;
		right: 20px;
	}
	.btn-main {
		font-size: 16px;
	}
	.btn-main::after {
		margin-left: 28px;
	}
	.item-advantage {
		padding-left: 60px;
		font-size: 13px;
	}
	.item-advantage .title-small {
		padding-bottom: 28px;
	}
	.title-small {
		font-size: 17px;
	}
	.advantages {
		padding: 65px 0;
	}
	.head-section {
		padding-bottom: 40px;
	}
	.title-section {
		font-size: 34px;
		line-height: 40px;
	}
	.item-service,
	.image-service {
		height: 345px;
	}
	.item-service {
		padding: 100px 30px;
		padding-bottom: 20px;
	}
	.item-service .title-small {
		padding-bottom: 15px;
	}
	.item-portfolio__image {
		height: 300px;
	}
	.item-portfolio__content {
		padding: 28px 25px;
		padding-right: 40px;
		padding-bottom: 40px;
	}
	.item-portfolio {
		font-size: 13px;
	}
	.item-feature sup {
		font-size: 8px;
	}
	.item-portfolio .title-small {
		margin-bottom: 20px;
		padding-left: 17px;
		letter-spacing: 0.03em;
		font-size: 16px;
	}
	.features-wrapper {
		margin-bottom: 25px;
	}
	.portfolio {
		padding-top: 50px;
		padding-bottom: 44px;
	}
	.services {
		padding-top: 40px;
		padding-bottom: 45px;
	}
	.item-news__image {
		height: 215px;
	}
	.item-news__date {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	.item-news__title {
		font-size: 19px;
	}
	.news {
		padding-top: 50px;
		padding-bottom: 35px;
	}
	.footer .logo img {
		width: 180px;
	}
	.footer {
		font-size: 13px;
	}
	.footer__nav_big, .footer__title {
		font-size: 15px;
	}
}
@media only screen and (max-width : 1300px) {
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.footer__nav_big, 
	.footer__title,
	.phone-main,
	body {
		font-size: 14px;
	}
	.footer,
	.item-portfolio,
	.item-advantage,
	.header {
		font-size: 12px;
		line-height: 18px;
	}
	.logo img {
		width: 140px;
	}
	.menu {
		flex: 0.9;
	}
	.wrapper {
		padding-top: 76px;
	}
	.title-big {
		font-size: 45px;
		line-height: 54px;
	}
	.billbord .title-big {
		padding-bottom: 20px;
	}
	.descr-big {
		font-size: 17px;
		line-height: 27px;
	}
	.billbord .descr-big {
		max-width: 487px;
	}
	.billbord__bottom {
		margin-top: 105px;
	}
	.btn-main {
		font-size: 15px;
	}
	.btn-main::after {
		margin-left: 12px;
	}
	.billbord__bottom .btn-main {
		padding-left: 25px;
		padding-right: 15px;
	}
	.item-billbord {
		font-size: 18px;
		line-height: 24px;
		height: 140px;
		padding: 0 21px;
	}
	.billbord {
		padding-top: 115px;
		padding-bottom: 40px;
		min-height: 580px;
	}
	.title-small {
		font-size: 16px;
		    letter-spacing: 0.05em;
	}
	.item-advantage .title-small {
		padding-bottom: 18px;
	}
	.advantages {
		padding: 40px 0;
	}
	.item-service, .image-service {
		height: 300px;
	}
	.item-service {
		padding: 65px 20px;
	}
	.item-service li {
		line-height: 22px;
	}
	.item-portfolio__image {
		height: 245px;
	}
	.item-portfolio .title-small {
		margin-bottom: 15px;
		font-size: 14px;
	}
	.features-wrapper {
		margin-bottom: 18px;
	}
	.item-news__image {
		height: 170px;
	}
	.item-news__title {
		font-size: 16px;
	}
	.footer .social-list li {
		margin-left: 10px;
	}
	.footer .logo img {
		width: 120px;
	}
	.footer .logo {
		top: -9px;
	}
	.footer {
		padding-top: 35px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrapper .link-simple,
	.header__wrapper .social-list,
	.menu {
		display: none;
	}
	.billbord__bottom {
		margin-top: 50px;
	}
	.item-billbord {
		margin-top: 20px;
	}
	.billbord {
		padding-top: 60px;
		min-height: 530px;
	}
	.item-advantage .title-small {
    padding-bottom: 14px;
}
.footer, .item-portfolio, .item-advantage, .header {
    font-size: 13px;
    line-height: 20px;
}
.item-advantage {
	margin-top: 20px;
}
.item-portfolio__image {
    height: 300px;
}
.item-portfolio .title-small {
	font-size: 15px;
}
.head-section {
    padding-bottom: 30px;
}
.news {
    padding-top: 32px;
    padding-bottom: 22px;
}
.portfolio {
    padding-top: 40px;
    padding-bottom: 25px;
}
.services {
    padding-top: 30px;
    padding-bottom: 25px;
}
.item-news__image {
    height: 230px;
}
.footer__content {
	display: none;
}
	.header__wrapper .phone-main {
		font-size: 0;
		line-height: 0;
	}
	.header__wrapper .phone-main i {
		display: block;
		font-size: 20px;
	}
	.header__wrapper .header__contacts {
		margin-left: auto;
		margin-right: 30px;
	}
	.header__contacts .line-contacts {
    margin-bottom: 0;
}
.sandwich {
	display: flex;
}
.footer__nav_big a, .footer__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 7px 0;
		padding-right: 15px;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer .line-contacts {
    margin-bottom: 12px;
}
.footer__contacts {
	padding-top: 20px;
}
.footer-bottom {
	text-align: center;
}
.footer-bottom .row > div {
	padding-top: 7px;
	padding-bottom: 7px;
}
.create {
	justify-content: center;
}
.btn_top {
	float: none;
}
.footer__title i {
	display: inline-block;
	transition: all 0.3s;
}
.footer__title.active i {
	transform: rotate(180deg);
}
.footer .logo img {
    width: 140px;
}
.menu-mobile {
  width: 100%;
  top: 100%;
  left: 0;
  height: 100vh;
  padding: 15px 15px;
  padding-bottom: 120px;
 display: none;
  overflow: auto;
  background-color: #fff;
  position: absolute;
}
.menu a {
  margin: 0;
  padding: 10px;
  display: block;
  position: relative;
  border-bottom: 1px solid #807F7D;
}
.menu-mobile .menu {
  display: block;
  margin: 0;
}
.menu-mobile .header__contacts {
	padding-top: 25px;
	align-items: flex-start;
}
.menu-mobile .header__contacts .line-contacts {
    margin-bottom: 9px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.title-big {
    font-size: 35px;
    line-height: 47px;
}
.descr-big {
    font-size: 16px;
    line-height: 24px;
}
.advantages {
	padding-top: 20px;
}
.title-section {
    font-size: 29px;
    line-height: 36px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.title-big {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.05em;
}
.title-section {
    font-size: 25px;
    line-height: 32px;
}
.btn-simple {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.03em;
    padding: 5px 14px;
}
.item-service, .image-service {
    height: 270px;
}
.item-portfolio__image {
    height: 240px;
}
.features-wrapper {
	display: block;
}
.item-news__image {
    height: 200px;
}
.head-section {
	display: block;
}
.head-section .btn-simple {
	margin-top: 15px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.footer__content {
	display: block !important;
}
.menu-mobile {
	display: none !important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media (min-width: 1300px) {
	.container {
		max-width: 1230px;
	}
}

@media (min-width: 1700px) {
	.container {
		max-width: 1440px;
	}
}
