/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1700px) {
	body {
		font-size: 15px;
	}
	.menu {
		flex: 0.8;
	}
	.header {
		font-size: 13px;
	}
	.logo img {
		width: 160px;
	}
	.phone-main {
		font-size: 15px;
	}
	.wrapper {
		padding-top: 83px;
	}
	.title-big {
		font-size: 50px;
		line-height: 60px;
	}
	.billbord .title-big {
		padding-bottom: 30px;
	}
	.descr-big {
		font-size: 19px;
		line-height: 31px;
	}
	.billbord .descr-big {
		max-width: 544px;
	}
	.billbord {
		padding-top: 155px;
		padding-bottom: 40px;
		min-height: 700px;
	}
	.billbord__bottom {
		margin-top: 130px;
	}
	.item-billbord {
		font-size: 22px;
		line-height: 28px;
		height: 165px;
		padding: 0 40px;
	}
	.item-billbord::after {
		bottom: 20px;
		right: 20px;
	}
	.btn-main {
		font-size: 16px;
	}
	.btn-main::after {
		margin-left: 28px;
	}
	.item-advantage {
		padding-left: 60px;
		font-size: 13px;
	}
	.item-advantage .title-small {
		padding-bottom: 28px;
	}
	.title-small {
		font-size: 17px;
	}
	.advantages {
		padding: 65px 0;
	}
	.head-section {
		padding-bottom: 40px;
	}
	.title-section {
		font-size: 34px;
		line-height: 40px;
	}
	.item-service,
	.image-service {
		height: 345px;
	}
	.item-service {
		padding: 100px 30px;
		padding-bottom: 20px;
	}
	.item-service .title-small {
		padding-bottom: 15px;
	}
	.item-portfolio__image {
		height: 300px;
	}
	.item-portfolio__content {
		padding: 28px 25px;
		padding-right: 40px;
		padding-bottom: 40px;
	}
	.item-portfolio {
		font-size: 13px;
	}
	.item-feature sup {
		font-size: 8px;
	}
	.item-portfolio .title-small {
		margin-bottom: 20px;
		padding-left: 17px;
		letter-spacing: 0.03em;
		font-size: 16px;
	}
	.features-wrapper {
		margin-bottom: 25px;
	}
	.portfolio {
		padding-top: 50px;
		padding-bottom: 44px;
	}
	.services {
		padding-top: 40px;
		padding-bottom: 45px;
	}
	.item-news__image {
		height: 215px;
	}
	.item-news__date {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	.item-news__title {
		font-size: 19px;
	}
	.news {
		padding-top: 50px;
		padding-bottom: 35px;
	}
	.footer .logo img {
		width: 180px;
	}
	.footer {
		font-size: 13px;
	}
	.footer__nav_big, .footer__title {
		font-size: 15px;
	}
	.page-about .title-section {
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.page-about p {
		margin-bottom: 15px;
	}
	.item-team__image {
		height: 300px;
	}
	.item-team__content {
		padding: 25px 35px;
	}
	.team {
		padding-bottom: 50px;
	}
	.block-form {
		padding: 34px 40px;
		padding-bottom: 40px;
	}
	.item-dropdown__head {
		font-size: 22px;
		line-height: 27px;
		padding: 24px 0;
		padding-left: 27px;
	}
	.advantages .title-section {
		margin-bottom: 70px;
	}
	.service-info {
		padding: 33px 30px;
		padding-right: 20px;
		margin-bottom: 30px;
	}
	.page-service .title-small {
		padding-bottom: 17px;
	}
	.page-service .title-section {
		padding-bottom: 22px;
	}
	.page-service p {
		margin-bottom: 15px;
	}
	.page-service img {
		margin-top: 30px;
	}
	.form-page {
		padding: 27px 55px;
		padding-bottom: 36px;
	}
	.tabs a {
		padding: 16px 43px;
		font-size: 17px;
		line-height: 22px;
		min-width: 203px;
	}
	.item-catalog {
		height: 375px;
	}
	.item-catalog__title::before {
		top: 5px;
	}
	.item-catalog__content {
		padding: 17px 18px;
		z-index: 1;
		min-width: 74%;
	}
	.item-catalog__title {
		letter-spacing: 0.03em;
	}
}
@media only screen and (max-width : 1300px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.footer__nav_big, 
	.footer__title,
	.phone-main,
	body {
		font-size: 14px;
	}
	.footer,
	.item-portfolio,
	.item-advantage,
	.header {
		font-size: 12px;
		line-height: 18px;
	}
	.logo img {
		width: 140px;
	}
	.menu {
		flex: 0.9;
	}
	.wrapper {
		padding-top: 76px;
	}
	.title-big {
		font-size: 45px;
		line-height: 54px;
	}
	.billbord .title-big {
		padding-bottom: 20px;
	}
	.descr-big {
		font-size: 17px;
		line-height: 27px;
	}
	.billbord .descr-big {
		max-width: 487px;
	}
	.billbord__bottom {
		margin-top: 105px;
	}
	.btn-main {
		font-size: 15px;
	}
	.btn-main::after {
		margin-left: 12px;
	}
	.billbord__bottom .btn-main {
		padding-left: 25px;
		padding-right: 15px;
	}
	.item-billbord {
		font-size: 18px;
		line-height: 24px;
		height: 140px;
		padding: 0 21px;
	}
	.billbord {
		padding-top: 115px;
		padding-bottom: 40px;
		min-height: 580px;
	}
	.title-small {
		font-size: 16px;
		letter-spacing: 0.05em;
	}
	.item-advantage .title-small {
		padding-bottom: 18px;
	}
	.advantages {
		padding: 40px 0;
	}
	.item-service, .image-service {
		height: 300px;
	}
	.item-service {
		padding: 65px 20px;
	}
	.item-service li {
		line-height: 22px;
	}
	.item-portfolio__image {
		height: 245px;
	}
	.item-portfolio .title-small {
		margin-bottom: 15px;
		font-size: 14px;
	}
	.features-wrapper {
		margin-bottom: 18px;
	}
	.item-news__image {
		height: 170px;
	}
	.item-news__title {
		font-size: 16px;
	}
	.footer .social-list li {
		margin-left: 10px;
	}
	.footer .logo img {
		width: 120px;
	}
	.footer .logo {
		top: -9px;
	}
	.footer {
		padding-top: 35px;
	}
	.title-section {
		font-size: 30px;
		line-height: 34px;
	}
	.page-about .title-section {
		padding-top: 0;
	}
	.page-about ~ .advantages {
		padding-top: 35px;
	}
	.advantages .title-section {
		margin-bottom: 40px;
	}
	.team .title-section {
		padding-bottom: 30px;
	}
	.team {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	.item-team__image {
		height: 240px;
	}
	.item-team__content {
		padding: 20px 15px;
	}
	.item-team {
		font-size: 13px;
		line-height: 21px;
	}
	.vacancies .title-section {
		padding-bottom: 27px;
	}
	.item-dropdown__head {
		font-size: 19px;
		line-height: 25px;
		padding: 21px 0;
		padding-left: 25px;
	}
	.item-dropdown__head::before {
		top: 29px;
	}
	.block-form {
		padding: 30px 20px;
		padding-bottom: 34px;
	}
	.block-form .title-small {
		padding-bottom: 20px;
	}
	.service-info {
		padding: 20px;
		margin-bottom: 20px;
	}
	.title-middle {
		font-size: 20px;
		line-height: 30px;
	}
	.form-page .title-middle {
		padding-bottom: 15px;
	}
	.form-page .row {
		margin: 0 -7px;
	}
	.form-page .row > div {
		padding: 0 7px;
	}
	.form-page {
		padding: 27px 30px;
		padding-bottom: 36px;
	}
	.form-page .btn-main {
		width: 200px;
	}
	.section-portfolio .title-section {
		padding-bottom: 20px;
	}
	.item-catalog {
		height: 330px;
	}
	.item-catalog__content {
		max-width: 92%;
	}
	.tabs a {
		padding: 14px 20px;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.05em;
		min-width: 170px;
	}
	.tabs li {
		margin-right: 20px;
	}
	.page-portfolio .title-section {
		padding-bottom: 25px;
		padding-top: 0px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrapper .link-simple,
	.header__wrapper .social-list,
	.menu {
		display: none;
	}
	.billbord__bottom {
		margin-top: 50px;
	}
	.item-billbord {
		margin-top: 20px;
	}
	.billbord {
		padding-top: 60px;
		min-height: 530px;
	}
	.item-advantage .title-small {
		padding-bottom: 14px;
	}
	.footer, .item-portfolio, .item-advantage, .header {
		font-size: 13px;
		line-height: 20px;
	}
	.item-advantage {
		margin-top: 20px;
	}
	.item-portfolio__image {
		height: 300px;
	}
	.item-portfolio .title-small {
		font-size: 15px;
	}
	.head-section {
		padding-bottom: 30px;
	}
	.news {
		padding-top: 32px;
		padding-bottom: 22px;
	}
	.portfolio {
		padding-top: 40px;
		padding-bottom: 25px;
	}
	.services {
		padding-top: 30px;
		padding-bottom: 25px;
	}
	.item-news__image {
		height: 230px;
	}
	.footer__content {
		display: none;
	}
	.header__wrapper .phone-main {
		font-size: 0;
		line-height: 0;
	}
	.header__wrapper .phone-main i {
		display: block;
		font-size: 20px;
	}
	.header__wrapper .header__contacts {
		margin-left: auto;
		margin-right: 30px;
	}
	.header__contacts .line-contacts {
		margin-bottom: 0;
	}
	.sandwich {
		display: flex;
	}
	.footer__nav_big a, .footer__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 7px 0;
		padding-right: 15px;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer .line-contacts {
		margin-bottom: 12px;
	}
	.footer__contacts {
		padding-top: 20px;
	}
	.footer-bottom {
		text-align: center;
	}
	.footer-bottom .row > div {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.create {
		justify-content: center;
	}
	.btn_top {
		float: none;
	}
	.footer__title i {
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer .logo img {
		width: 140px;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #fff;
		position: absolute;
	}
	.menu a {
		margin: 0;
		padding: 10px;
		display: block;
		position: relative;
		border-bottom: 1px solid #807F7D;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
	}
	.menu-mobile .header__contacts {
		padding-top: 25px;
		align-items: flex-start;
	}
	.menu-mobile .header__contacts .line-contacts {
		margin-bottom: 9px;
	}
	.advantages .title-section {
		margin-bottom: 18px;
	}
	.item-team__image {
		height: 495px;
	}
	.block-form {
		padding: 35px;
	}
	.vacancies .block-form {
		margin-top: 20px;
	}
	.page-service img:first-child,
	.page-service img {
		margin: 12px 0;
	}
	.page-service {
		padding-bottom: 20px;
	}
	.section-portfolio {
		padding-top: 30px;
		padding-bottom: 31px;
	}
	.slider-portfolio {
		padding-bottom: 25px;
	}
	.form-page .btn-main {
		width: 250px;
		display: flex;
		margin: 0 auto;
		max-width: 100%;
	}
	.col-btn {
		width: 100%;
	}
	.form-page .checkbox {
		margin-top: 20px;
	}
	.section-order {
		padding: 30px 0;
	}
	.tabs {
		white-space: nowrap;
		overflow: auto;
		margin-right: -15px;
		padding-bottom: 10px;
	}
	.tabs::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.tabs::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.tabs::-webkit-scrollbar-thumb {
		background-color: #B99D66;
		border-radius: 10px;
	}
	.tabs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #3F5E29;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-big {
		font-size: 35px;
		line-height: 47px;
	}
	.descr-big {
		font-size: 16px;
		line-height: 24px;
	}
	.advantages {
		padding-top: 20px;
	}
	.title-section {
		font-size: 29px;
		line-height: 36px;
	}
	.item-team__image {
		height: 340px;
	}
	.team {
		padding-bottom: 20px;
	}
	.vacancies {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.item-dropdown__content {
		padding-right: 0;
		padding-bottom: 0;
	}
	.item-dropdown__content p {
		margin-bottom: 15px;
	}
	.breadcrumbs li::after {
		margin: 0 12px;
	}
	.item-catalog {
		height: 300px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 28px;
		line-height: 36px;
		letter-spacing: 0.05em;
	}
	.title-section {
		font-size: 25px;
		line-height: 32px;
		letter-spacing: 0.05em;
	}
	.btn-simple {
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.03em;
		padding: 5px 14px;
	}
	.item-service, .image-service {
		height: 270px;
	}
	.item-portfolio__image {
		height: 240px;
	}
	.features-wrapper {
		display: block;
	}
	.item-news__image {
		height: 200px;
	}
	.head-section {
		display: block;
	}
	.head-section .btn-simple {
		margin-top: 15px;
	}
	.advantages {
		padding-bottom: 30px;
	}
	.item-team__image {
		height: 284px;
	}
	.block-form {
		padding: 35px 25px;
	}
	.item-dropdown__head {
		font-size: 17px;
	}
	.section-portfolio .title-section {
		padding-bottom: 10px;
	}
	.title-middle {
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 0.05em;
	}
	.form-page {
		padding: 25px 20px;
	}
	.item-catalog__content {
		max-width: initial;
		right: 15px;
		padding: 10px 15px;
	}
	.item-catalog {
		height: 265px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.footer__content {
		display: block !important;
	}
	.menu-mobile {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media (min-width: 1300px) {
	.container {
		max-width: 1230px;
	}
}

@media (min-width: 1700px) {
	.container {
		max-width: 1440px;
	}
}
